* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, main {
    height: 100%;
}
body {
    position: relative;
}
.d-flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-direction-row {
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-horizontal-center {
    justify-content: center;
}
.align-horizontal-left {
    justify-content: flex-start;
}
.align-vertical-center {
    align-items: center;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    padding: 5%;
}
.inputSection > input {
    width: 100%;
    border: none;
    height: 50px;
    font-size: 34px;
    background: transparent;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.inputSection > input:focus {
    outline: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.inputSection > input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
.noteSection {
    margin-top: 3%;
    width: 100%;
    height: 100%;
}
.noteInner {
    margin-bottom: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
.noteInner > .controlsNote {
    margin-left: auto;
}
.controlsNote {
    padding-right: 2%;
}
.controlsNote > button {
    background-color: transparent;
    border: 0;
    margin-right: 10%;
}

.controlsNote > button > i {
    width: 100%;
    height: 100%;
}

.noteInner > div {
    margin: 5px 5px;
}
.title > p {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.5);
}
.menuSection {
    margin-top: 1%;
    margin-left: 3%;
}
.checkBoxNoteMenu {
    margin-left: 29px;
}
.descriptionNote, .descriptionNote > input {
    width: 100%;
}
.newNotes > div {
    opacity: 0;
    transform: opacity 3 s;
}
main{
    overflow: auto;
}